main{
    font-family: cursive;
    align-items: center;
}
body{
    font-family: cursive;
        background-image: url(homee.jpg);
        backdrop-filter: blur(4px);
       
        margin: 0;
        font-family: Arial, sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        margin: 0;
}
header {
    font-family: cursive;
    background-color: rgb(176, 47, 0);
    border-radius: 15px;
    border: 3px solid yellow;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    

   

}
.logo {
    height: 50px;
    margin-right: 20px;
}


footer{
    font-family: cursive;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(176, 47, 0);
    border-radius: 15px;
    border: 3px solid yellow;
    color: #fff;
}
.button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.button:hover {
    background-color: #d23b3b;
}

section {
    text-align: center;
    margin-bottom: 20px;
}

article {
    text-align: center;
    font-size: 18px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}
div{

    text-align: center;
}
.textbox{

    position: center;
    font-family: cursive;
    width: 300px; /* Ширина блока */
    height: 200px; /* Высота блока */
    background-color: black; /* Чёрный фон */
    color: white; /* Белый текст */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
    margin-left: 70px;
}
.img{
    align-items: center;
}